@font-face {
    font-family: 'LINE Seed';
    src: url(/fonts/LINE_Seed_JP/LINESeedJP-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed';
    src: url(/fonts/LINE_Seed_JP/LINESeedJP-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #F9EEED;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    display: block;
    font-size: 1em;
    
}

.topnav {
    display: flex;
    width: 100%;
    padding: 0 0.5cqh;
    box-sizing: border-box;
    height: 4.5vh;
    border-bottom: 0.3rem solid #6f4c50;
    align-items: stretch;
    justify-content: center;
}

.topnav > div {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2em;
    border-left: 0.3rem solid #6f4c50;
}

.topnav > div:first-child {
  border-left: none;
}

.topnav > div > p {
    margin: 0;
    color:#012622;
    font-family: 'LINE Seed', sans-serif;
}

.topnav > div > a {
    text-decoration: none;
    color: #012622;
    font-family: 'LINE Seed', sans-serif;
}

#notesBoard {
    width: 100%;
    height: calc(100vh - 4.5vh);
    position: relative;
    background-color: #F9EEED;
    margin-top: 1rem;
    position: relative;
}

.note {
    position: absolute;
    width: 150px;
    background: #E6DBF0; /* #b7aebf is darker, #e6dbf0 is lighter */
    border: 2px solid #6f4c50;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.note > .content {
    padding: 0.5rem;
}

.note > .topbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b7aebf;
    padding: 0.5rem;
}


.note > .topbox > .delete-note {
    background: none;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
}

.note > .topbox > .delete-note img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}